# Dependencies
node_modules/
.pnpm-store/

# Build output
dist/
build/
.next/
out/
cdk.out/

# Env
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
pnpm-debug.log*
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
.idea/

# Test coverage
coverage/
